.m-top {
  display: flex;
  flex-direction: row;
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 1.125rem;
  gap: 2.8125rem;
  font: var(--pp);
  color: black;  
}
.list {
  display: flex;
  align-items: center;
  gap: 2.8125rem;

  & a {
    color: #000;
  }
}
/* Estilizando o submenu */
.submenu {
  display: none;
  position: absolute;
  background: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  list-style: none;
  margin-top: 10px;
}

.submenu li {
  padding: 5px 0;
}

/* Mostrando o submenu ao passar o mouse */
.dropdown {
  position: relative;
}

.dropdown:hover .submenu {
  display: block;
}

.supersale {
  background-color: rgb(230, 227, 227);
  color: var(--back-color);
  text-transform: uppercase;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;

  & h1 {
    color: black;
    font:var(--title) 
  }
  & h2 {
    letter-spacing: 2px;
  }
  & p {
    letter-spacing: .4rem;
    font: var(--legend);
    height: 34px;
  }
}

.info {
  display: grid;
  width: 70rem;
  height: 46.6875rem;
  
  grid-template-columns: 60% 40%;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;
  font: var(--p);
  font-size: 1.1rem;
  text-align: justify;
  color: rgb(59, 59, 59);
  margin-top: 6rem;
  margin-left: 2rem;
  gap: 2.34375rem ;
  justify-self: center;
 
  margin-bottom: 1rem;
  & .cup {
    width: 40.75rem;
    height: 46.6875rem;
    background: #C2C2C2;
    display: flex; /* Adicionado para usar Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
  }

  & h2 {
    font: var(--h2);
    margin-bottom: 1rem;
    color: black;
  }

  & img {
    width: 32.71125rem;
    height: 33.010625rem;
  }
}

.banner {
  width: 100%;
  height: 41.25rem;
  background-image: url(../assets/image.png);
  margin-top: 4rem;
  margin-bottom: 4rem;
  color: #ffffff;
  display: flex;
  align-items: center;
  

  & .legend {
    font-family: "Nunito", sans-serif;
    background-color: var(--back-color);
    width: 100%;
    height: 8.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.875rem;
    
  }
}
