fieldset{ 
  border: none;
  height: 47.8rem;
}
.content {
  width: 100%;
  height: 44.8rem;
  background-color: var(--gray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.banner {
  width: 21rem;
  height: 21rem;
  
  display: flex;
  justify-content: center;
}
.lorem {
  width: 21.8rem;
  font-family: var(--ff-nunito);
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 140%;
  display: flex;
  flex-direction: column;
  align-items: center;
  & h2 {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 4%;
    margin-top: 1.3rem;
  }

}

li {
  display: flex;
  align-items: center;
  gap: .875rem;
  margin-top: 1.1rem;
  & img {
    width: 3.75rem;
    height: 3.75rem;
    object-fit: cover; /*se adapta a diferentes tamanhos de tela*/
  }
}

@media (width >= 80em) {
  fieldset {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 100%;
  }
  .content {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    .banner {
      width: 40.75rem;
      height: 45.5rem;
    }
    .lorem {
      width: 29.75rem;
      height: 35.43rem;
      font: 400 1.25rem/140% var(--ff-nunito);
      img {
        width: 5.6rem;
        height: 5.6rem;
      }
    }
  }
  
  
}