* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family:"Nunito", sans-serif;
  --font-family-flex: "Nunito Sans", sans-serif;
  --back-color:rgb(0, 92, 255);
  --gray-color: #DEDEDE;
  --gray-color-2: #4F4F4F;
  --border: #DDD;
  --title: 300 6.25rem/100% var(--font-family);
  --title-2: 700 3.75rem/100% var(--font-family-flex) ;
  --legend: 700 1.5625rem/100% var(--font-family);
  --h2: 500 2rem/150% var(--font-family-flex);
  --h3: 700 0.875rem/100% var(--font-family-flex);
  --h4: 700 1rem/100% var(--font-family-flex);
  --p: 400 0.755rem/120% var(--font-family-flex);
  --pp: 400 0.875rem/120% var(--font-family-flex);
  --small: 400 .75rem/120% var(--font-family-flex);
  --newlleter: 700 1.25rem/100% var(--font-family-flex);
  --new: 700 0.625rem/120% var(--font-family-flex);

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden ;

  & ul {
    list-style: none;
  }

  & a {
    text-decoration: none;
  }
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1.125rem;
  align-items: center;
  color: #4F4F4F;
  & p {
    display: flex;
    font-weight: bold;
    font-family: "Nunito";
    color: black;
  }

}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-flex);
}
.flex-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--back-color);
  color: antiquewhite;
  height: 28px;
  
  gap: 1rem;
  
  & .violet {
    background-color: blueviolet;
  }
}

aside {
  display: flex;
  
  justify-content: center;

  gap: 6.875rem;

  & .social-midia {
    display: flex;
    flex-direction: column;
  }

  & .social-midia-2{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 2.5rem;
  }

  & ul {
    color: var(--gray-color-2);

    & h4 {
      color: black;
      margin-bottom: 0.6875rem;
      font: var(--h4);
    }

    & li {
      font: var(--small);
      margin-bottom: 0.5rem;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 67.125rem;

  & p {
    margin-bottom: 2.5rem;
    text-align: center;
  }

  & .sponsorship{
    display: flex;

    margin-bottom: 3.9375rem;
    gap: 3rem;
    
  }
}




