*{
  margin: 0;
  padding: 0;
  font: inherit;
  max-width: 100%;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --ff-nunito:"Nunito", sans-serif;
  --ff-NunitoSans: "Nunito Sans", sans-serif;
  --color-base: black;
  --back-color:rgb(0, 92, 255);
  --gray-color: #DEDEDE;
  --gray-color-2: #4F4F4F;
  --border: #DDD;
  --fs-base: 1rem; /*Paragraph*/
  --fw-base: 400;
  --title: 700 2.5rem/100%  var(--ff-nunito);   
  --title-2: 700 2rem/100% var(--ff-Nunito);
  --p_title: 700 0.75rem/100% var(--ff-nunito);
  --legend: 700 1.5625rem/100% var(--ff-nunito);
  --h2: 500 2rem/150% var(--ff-NunitoSans);
  --h3: 700 1rem/100% var(--ff-NunitoSans);
  --h4: 700 1rem/100% var(--ff-NunitoSans);
  --p: 700 0.875rem/100% var(--ff-NunitoSans);
  --pp: 400 0.875rem/140% var(--ff-nunito);
  --small: 400 .75rem/120% var(--ff-NunitoSans);
  --newlleter: 700 1.25rem/100% var(--ff-NunitoSans);
  --new: 700 0.625rem/120% var(--ff-NunitoSans);

}

html {
  font: var(--ff-NunitoSans);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);

  color: var(--color-base);
  overflow-x: hidden;/*O eixo horizontal não vai ter rolagem*/
  scroll-behavior: smooth;
  & button {
    border: none;
  }
}
body {
  & ul {
    list-style: none;
  }
  & a {
    text-decoration: none;
  }
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-flex);
}


footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 67.125rem;
  color: #303030;

  & p {
    width: 22.375rem;
    margin-bottom: 2.5rem;
    align-self: center;
    font-size: 0.75rem;
    font-weight: 400;
    font-family: var(--ff-nunito);
    color: #303030;
  }

  & .sponsorship{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.9585rem;
    gap: 2rem;
    
  }
}

@media (width >= 80em) {

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
   
  
    & p {
      margin-bottom: 2.5rem;
      width: 67.125rem;
      
    }
  
    & .sponsorship{
      display: flex;
      margin-bottom: 3.9375rem;
      gap: 3rem;
      
    }
  }
  
  
}




