.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.grid {
  display: grid;
}

.rgb {
  background-color: var(--back-color);
}

.flex-col{
  flex-direction: column;
}