.flex {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.m-top {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.grid {
  display: grid;
}

.rgb {
  background-color: var(--back-color);
}